#width-nome {width: 28.4%}
#width-codigo {width: 6%;}
#width-cpf-cnpj {width: 10%;}
#width-telefone {width: 8.4%;}
#width-email {width: 25%;}
#width-ultima-compra {width: 10%;}
#width-dias-s-comprar {width: 9%;}
#width-editar {width: 1.6%;}
#width-compras-cliente {width: 1.6%;}

.modal-body-pesquisar {
    flex-direction: column;

    & hr {
        width: initial;
        height: initial;
        margin: 1rem;
        border: 1px solid var(--cor-04);
    }
}